/********* CAROUSEL  **********/

.carousel-inner img {
  height: 600px;
}

.carousel-caption {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.caption-1 {
  top: 200px;
  right: 100px;
  text-align: right;
  color: #de483d;
}

.caption-2 {
  bottom: 0px;
  left: 70px;
  text-align: left;
  color: #f6cb1d;
}

.caption-3 {
  bottom: 0;
  color: #6c4e52;
}
